<label asp-for="SubProductTypesList" class="col-md-2 control-label"></label>
<div class="col-md-10">
    @Html.DropDownList("SubProductTypesList")
    <span asp-validation-for="SubProductTypesList" class="text-danger" />
</div>