@model BangazonWeb.ViewModels.ProductTypesListViewModel

@{
  ViewData["Title"] = "Product Sub-Types";
}
<hr>
<div class="row top-buffer">
  @foreach (var subProductType in Model.SubProductTypes)
  {
    <div class="col-md-4">
      <a asp-action="TypesList" asp-route-id="@subProductType.SubProductTypeId">
        @Html.DisplayFor(modelItem => subProductType.Name)
      </a>
    </div>
    <div class="col-md-6">@Html.DisplayFor(modelItem => subProductType.Description)</div>
  }
</div>

