@model BangazonWeb.ViewModels.AllProductTypesViewModel

@{
  ViewData["Title"] = "Product Types";
}
<hr>
<div class="row top-buffer">
  @foreach (var productType in Model.ProductTypes)
  {
    <div class="col-md-4">
      <a asp-action="GetSubTypes" asp-route-id="@productType.ProductTypeId">
        @Html.DisplayFor(modelItem => productType.Name)
      </a>
    </div>
  }
</div>

