@model BangazonWeb.ViewModels.BaseViewModel

@{
    ViewData["Title"] = "Join BangazonWeb";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Customer" asp-action="New" method="post">
    <div class="form-horizontal">
        <h4>Join BangazonWeb</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CustomerForm.FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerForm.FirstName" class="form-control" />
                <span asp-validation-for="CustomerForm.FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerForm.LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerForm.LastName" class="form-control" />
                <span asp-validation-for="CustomerForm.LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" asp-action="New" value="Create Customer" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>