@model BangazonWeb.ViewModels.ShoppingCartViewModel

@{
  ViewData["Title"] = "Shopping Cart";
}
<h1> @ViewData["Title"] </h1>
<div class="row text-center">
   @Html.DropDownList("ListOfPaymentTypes")
</div>